body {
  font-family: 'Lato', sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 10px;
  
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #E5E5E5;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #1C2D37;
  border-radius: 10px;
  
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #2f3e4d;
}


.custom-scrollbar {
  scrollbar-width:thin;
  scrollbar-color: #1C2D37 #E5E5E5;
}
.outlined-text {
  font-family: 'Londrina Outline', sans-serif;
  text-transform: uppercase;
  z-index: 0;
  opacity: 0.1;
}



.bold-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 700; 
  position: relative;
  bottom: 60px;
  z-index: 1;
  
}
.text-container {
  position: relative;
  
 
}
html {
  scroll-behavior: smooth;
}
@media (max-width:425px) {

  .outlined-text{
    font-size:4rem;
  }
  .bold-text{
    font-size: 1rem;
    bottom: 35px;
  }
  
}


